<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Location Service</title>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <div class="container">
        <header>
            
        </header>

        <nav>
            <ul>
                <li>
                    <a href="/">Location Tracker Home!</a>
                </li>
                <li>
                    <a href="/users">View Users</a>
                </li>
                <li>
                    <a href="/users/add">Add Users</a>
                </li>
                <li>
                    {{#if user.id}}
                    <a href="/users/{{user.id}}/locations">View {{user.firstName}}'s Locations</a>
                </li>
                <li>
                    <a href="/users/{{user.id}}/locations/add">Add Location for {{user.firstName}}</a>
                </li>
                {{/if}}
            </ul>
        </nav>

        <article class="waves-effect">
            {{{body}}}
        </article>

        <footer class="page-footer">Writen by Daniel Pino to integrate node.js, express, and mongo into a heroku hosted service.</footer>
    </div>
</body>

</html>