<!DOCTYPE html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Location Service</title>
    <meta name="description" content="Write some words to describe your html page">

    <style>
        div.container {
            width: 100%;
            border: 1px solid gray;
        }

        header,
        footer {
            padding: 1em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
        }

        nav {
            float: left;
            width: 200px;
            margin: 0;
            padding: 1em;
        }

        nav ul {
            list-style-type: none;
            padding: 0;
        }

        nav ul a {
            text-decoration: none;
        }

        nav li {
            margin-bottom: 5px;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="container">
        <header>
            <h1>Location Tracker</h1>
        </header>

        <nav>
            <ul> <h3>User Controls</h3>
                <li>
                    <a href="/users">View Users</a>
                </li>
                <li>
                    <a href="/users/add">Add Users</a>
                </li>
                </ul>
                {{#if user.id}}
                <ul><h3>Location Controls</h3>
                <li>
                    <a href="/users/{{user.id}}/locations">View {{user.firstName}}'s Locations</a>
                </li>
                <li>
                    <a href="/users/{{user.id}}/locations/add">Add Location for {{user.firstName}}</a>
                </li>
                </ul>
                {{/if}}
            </ul>
        </nav>

        <article>
            {{{body}}}
        </article>

        <footer>Writen by Daniel Pino to integrate node.js, express, and mongo into a heroku hosted service.</footer>
    </div>
</body>

</html>