<h3>All Locations for {{user.firstName}}</h3>

{{#each locations}}
    {{#if this.scheduled}} Scheduled for: {{else}} Not Yet Scheduled{{/if}}
    <br>{{this.streetAddress}}
    <br>{{this.city}}, {{this.state}} {{this.zip}}

    <br>
    <a href='/users/{{../user.id}}/locations/{{this.id}}'>Edit Location</a>
    <br><br>
{{/each}}

<br>
<a href='/users/{{user.id}}/locations/add'>Add Location</a>