<h2>All Locations for {{user.firstName}}</h2>

{{#each locations}}
<p>
    Street Address: {{this.streetAddress}}
    <br> City: {{this.city}}
    <br> State: {{this.state}}
    <br> Zip: {{this.zip}}
    <br> Scheduled?: {{this.scheduled}}
    <br> Name: {{this.lastName}}, {{this.firstName}}
    <br>
    <br>
    <a href='/users/{{../user.id}}/locations/{{this.id}}'>Edit Location</a>
</p>
{{/each}}

<br>
<a href='/users/{{user.id}}/locations/add'>Add Location</a>