<h2>All Locations</h2>

{{#each users}}
<p>
    Name: {{this.lastName}}, {{this.firstName}}
    <br> Email: {{this.email}}
    <br> <a href='/users/{{this.id}}/edit'>Edit {{this.firstName}}</a>
    <br> <a href='/users/{{this.id}}/locations'>Show {{this.firstName}}'s locations</a>
</p>
{{/each}}